* {
  scrollbar-color: rgba(130, 130, 130, 0.4) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}

* ::-webkit-scrollbar {
  width: 0.5rem;
}

* ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

* ::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: rgba(130, 130, 130, 0.4);
  transition: all ease 0.3s;
}

* ::-webkit-scrollbar-thumb:hover {
  background: rgba(130, 130, 130, 0.6);
}
